services:
  app:
    build: .
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qr.rule=Host(`qr.9level.com.br`)"
      - "traefik.http.routers.qr.entrypoints=websecure"
      - "traefik.http.services.qr.loadbalancer.server.port=80"
      - "traefik.http.routers.qr.tls.certresolver=letsencrypt"
        #- "traefik.http.routers.dashboard.tls.certresolver=letsencrypt-staging"
      - "traefik.http.routers.qr.middlewares=waf-chain@file"
        
    container_name: gerador-qrcode
    restart: unless-stopped
    healthcheck:
      #      test: ["CMD", "curl", "-f", "http://localhost:80/" , "||", "exit", "1"]
      test: ["CMD-SHELL", "curl -f http://localhost:80/ || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 40s
    volumes:
      - ./:/var/www/html
      # Evita sobrescrever as pastas geradas dentro do container
      - /var/www/html/vendor
      - /var/www/html/qrcodes
    networks:
      - proxy
networks:
  proxy:
    external: true
